// functions and variables
@mixin dimension($height, $width) {
  height: $height;
  width: $width;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

:root {
  --primary-font: Montserrat;
  --second-font: Urbanist;
}

// global attributes
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  @include dimension(100vh, 100%);
  background: white;
  position: relative;

  // Header styling

  header {
    @include dimension(120px, 100%);
    @include flex(space-between, center);
    background: black;
    position: absolute;

    .logo {
      @include dimension(100%, 25%);
      @include flex(center, center);
      a {
        text-transform: uppercase;
        font-size: 22px;
        // text-decoration: underline 1px rgba(233, 232, 232, 0.322);
        font-family: var(--primary-font);

        h1 {
          color: white;
        }

        span {
          color: silver;
          opacity: 0.5;
        }
      }
    }
    // search container syling

    .search_container {
      flex: 2;
      @include dimension(100%, 100%);

      form {
        @include dimension(100%, 100%);
        @include flex(space-around, center);

        input {
          @include dimension(50%, 60%);
          font-size: 21px;
          font-family: var(--second-font);
          // border-radius: 15px;
          padding: 10px;
          font-weight: bold;
        }
        button {
          cursor: pointer;
          @include dimension(50%, 20%);
          font-size: 26px;
          font-family: var(--primary-font);
          font-weight: bolder;
          background: transparent;
          color: white;
          letter-spacing: 2px;
          border: 0px;
          transition: all 0.5s ease-out;

          &:hover {
            border: 1px solid silver;
            // box-shadow: 2px 2px 10px silver;
          }
        }
        .contact {
          @include dimension(50%, 8%);
          @include flex(center, center);
          h6 {
            font-size: 11px;
            color: silver;
            text-decoration: none;
          }
        }
      }
    }
  }

  // Trending Movie container sytling
  .homepage_wrap {
    @include dimension(84vh, 100%);
    @include flex(center, start);
    transform: translateY(16vh);
    background: black;
    // filter: opacity(0.7);
    position: absolute;
    z-index: 1;

    .movie_poster_wrapper {
      @include dimension(100%, 40%);
      opacity: 0.7;

      img {
        @include dimension(600px, 620px);
        padding: 0 1rem;
      }
    }
    .trending_movie_description {
      @include dimension(60%, 60%);
      @include flex(start, space-around);
      flex-direction: column;
      padding-left: 2rem;

      h1 {
        font-size: 3em;
        font-family: var(--second-font);
        @include dimension(70px, 100%);
        color: rgba(255, 255, 255, 0.678);
        padding: 0 0 2rem 0;
      }
      p {
        @include dimension(auto, 60%);
        color: rgba(255, 255, 255, 0.678);
        line-height: 1.2em;
        font-family: var(--primary-font);
        flex: 2;
        padding: 2rem 0;
        font-size: 25px;
      }
      h2 {
        color: rgba(255, 255, 255, 0.678);
        @include dimension(70px, 50%);
        font-family: var(--second-font);
        font-size: 3em;
      }
    }
  }

  // searched movies container sytling

  .searched {
    @include dimension(50vh, 100%);
    position: absolute;
    z-index: 2;
    top: 15vh;
    transform: translateY(-100vh);
    transition: transform 0.4s ease-in-out;

    &.show {
      transform: translateY(0);
      ul.searchedMvList {
        @include dimension(100%, 100%);
        @include flex(space-around, start);
        flex-direction: column;
        color: white;
        list-style: none;
        background: black;

        li {
          @include dimension(auto, 50%);
          @include flex(space-around, center);
          padding: 0 2rem;

          h3 {
            flex: 2;
            align-self: flex-start;
            padding: 0 1rem 1rem;
            font-family: var(--second-font);
          }
        }
      }
    }
    button {
      @include dimension(50px, 50px);
      background: gold;
      position: absolute;
      right: 0;
      top: 0px;
      z-index: 2;
      font-size: 50px;
      font-family: var(--second-font);
      color: white;
      background: transparent;
      border: 0;
      cursor: pointer;
    }
  }
}
