// functions and variables
@mixin dimension($height, $width) {
  height: $height;
  width: $width;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

:root {
  --primary-font: Montserrat;
  --second-font: Urbanist;
}

// global attributes
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  @include dimension(100vh, 100%);
  background: white;
  position: relative;

  // Header styling

  header {
    @include dimension(120px, 100%);
    @include flex(space-between, center);
    background: black;
    position: absolute;

    .logo {
      @include dimension(100%, 25%);
      @include flex(center, center);
      a {
        text-transform: uppercase;
        font-size: 22px;
        // text-decoration: underline 1px rgba(233, 232, 232, 0.322);
        font-family: var(--primary-font);

        h1 {
          color: white;
        }

        span {
          color: silver;
          opacity: 0.5;
        }
      }
    }
    // search container syling

    .search_container {
      flex: 2;
      @include dimension(100%, 100%);

      form {
        @include dimension(100%, 100%);
        @include flex(space-around, center);

        input {
          @include dimension(50%, 60%);
          font-size: 21px;
          font-family: var(--second-font);
          // border-radius: 15px;
          padding: 10px;
          font-weight: bold;
        }
        button {
          cursor: pointer;
          @include dimension(50%, 20%);
          font-size: 26px;
          font-family: var(--primary-font);
          font-weight: bolder;
          background: transparent;
          color: white;
          letter-spacing: 2px;
          border: 0px;
          transition: all 0.5s ease-out;

          &:hover {
            border: 1px solid silver;
            // box-shadow: 2px 2px 10px silver;
          }
        }
        .contact {
          @include dimension(50%, 8%);
          @include flex(center, center);
          h6 {
            font-size: 11px;
            color: silver;
            text-decoration: none;
          }
        }
      }
    }
  }

  // Trending Movie container sytling
  .homepage_wrap {
    @include dimension(85vh, 100%);
    transform: translateY(15vh);
    background: rgb(70, 70, 12);
    position: absolute;

    .movie_poster_wrapper {
      @include dimension(100%, 40%);
      background: red;

      img {
        @include dimension(50%, 50%);
      }
    }
  }

  // searched movies container sytling

  .searched {
    @include dimension(50vh, 100%);
    background: black;

    &.show {
      ul.searchedMvList {
        @include dimension(100%, 45%);
        @include flex(space-around, start);
        flex-direction: column;
        background: rgb(148, 14, 14);
        color: white;
      }
      div.mostlySearchedMv {
        h1 {
          font-family: var(--second-font);
          font-weight: bold;
          font-size: 35px;
        }
      }
    }
    &.hide {
      transform: translateX(-100%);
    }
  }
}
