:root {
  --primary-font: Montserrat;
  --second-font: Urbanist;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homepage {
  height: 100vh;
  width: 100%;
  background: white;
  position: relative;
}

.homepage header {
  height: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  position: absolute;
}

.homepage header .logo {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage header .logo a {
  text-transform: uppercase;
  font-size: 22px;
  font-family: var(--primary-font);
}

.homepage header .logo a h1 {
  color: white;
}

.homepage header .logo a span {
  color: silver;
  opacity: 0.5;
}

.homepage header .search_container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
  width: 100%;
}

.homepage header .search_container form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage header .search_container form input {
  height: 50%;
  width: 60%;
  font-size: 21px;
  font-family: var(--second-font);
  padding: 10px;
  font-weight: bold;
}

.homepage header .search_container form button {
  cursor: pointer;
  height: 50%;
  width: 20%;
  font-size: 26px;
  font-family: var(--primary-font);
  font-weight: bolder;
  background: transparent;
  color: white;
  letter-spacing: 2px;
  border: 0px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.homepage header .search_container form button:hover {
  border: 1px solid silver;
}

.homepage header .search_container form .contact {
  height: 50%;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage header .search_container form .contact h6 {
  font-size: 11px;
  color: silver;
  text-decoration: none;
}

.homepage .homepage_wrap {
  height: 84vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transform: translateY(16vh);
          transform: translateY(16vh);
  background: black;
  position: absolute;
  z-index: 1;
}

.homepage .homepage_wrap .movie_poster_wrapper {
  height: 100%;
  width: 40%;
  opacity: 0.7;
}

.homepage .homepage_wrap .movie_poster_wrapper img {
  height: 600px;
  width: 620px;
  padding: 0 1rem;
}

.homepage .homepage_wrap .trending_movie_description {
  height: 60%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
}

.homepage .homepage_wrap .trending_movie_description h1 {
  font-size: 3em;
  font-family: var(--second-font);
  height: 70px;
  width: 100%;
  color: rgba(255, 255, 255, 0.678);
  padding: 0 0 2rem 0;
}

.homepage .homepage_wrap .trending_movie_description p {
  height: auto;
  width: 60%;
  color: rgba(255, 255, 255, 0.678);
  line-height: 1.2em;
  font-family: var(--primary-font);
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 2rem 0;
  font-size: 25px;
}

.homepage .homepage_wrap .trending_movie_description h2 {
  color: rgba(255, 255, 255, 0.678);
  height: 70px;
  width: 50%;
  font-family: var(--second-font);
  font-size: 3em;
}

.homepage .searched {
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 15vh;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.homepage .searched.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.homepage .searched.show ul.searchedMvList {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  list-style: none;
  background: black;
}

.homepage .searched.show ul.searchedMvList li {
  height: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.homepage .searched.show ul.searchedMvList li h3 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 1rem 1rem;
  font-family: var(--second-font);
}

.homepage .searched button {
  height: 50px;
  width: 50px;
  background: gold;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 2;
  font-size: 50px;
  font-family: var(--second-font);
  color: white;
  background: transparent;
  border: 0;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */